@font-face {
    font-family: 'Ticking Timebomb BB';
    src: url('./fonts/TickingTimebombBB.ttf');
}

body{
    background-color:black;
}

#clock-container{
    width: 50%;
    background-color: black;
    color: green;
    padding: 20px 20px 20px 20px;
    margin: auto;
    position: relative;
    top: 120px;
    text-align:center;
    font-size: 1.5em;
    box-sizing: border-box;
}

#date-container{
    font-family: cursive;
    padding: 10px;
}

#year{
    letter-spacing: 2px;
    padding-left: 5px;
    font-size: 1.3em;
}

#month{
    letter-spacing: 2px;
    padding-left: 5px;
}

#time-container{
    font-family: 'Ticking Timebomb BB';
    font-size: 4em;
}

#day-container{
    font-family: Brush Script MT;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:1.3em; 
}

.current-day{
    border-bottom: 2px solid saddlebrown;
}


@media only screen and (max-width: 1040px){
    #clock-container{
        width: 100%;
        padding: 10px;
        top: 20vh;
        font-size: 1em;
    }

    #day-container{
        justify-content: center;
    }

    #day-container span{
        display: none;
    }

    #day-container span.current-day{
        display: initial;
    }
}